/*----------------
    RESET
-----------------*/    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }

.pokeball {
    margin-top: 40px;
}

.box-lightred {
    background-color: #ee2222;   
    height: 30px;
}

.box-red {
    background-color: #661111;    
    height: 30px;
}

.box-black {
     color: red;
     background-color: black;  
     height: 30px;
}

.box-grey {
     background-color: grey;
     height: 30px;
}

.Boolean {
    text-align: center;
    font-size: 40px;
}

.Mattia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}



