/*----------------
    RESET
-----------------*/    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pokeball {
    margin-top: 40px;
}

.box-lightred {
    background-color: lightcoral;   
    height: 30px;
}

.box-red {
    background-color: red;    
    height: 30px;
}

.box-white {
     background-color: white;
     height: 30px;
}

.box-black {
     background-color: black;  
     height: 30px;
}

.box-grey {
     background-color: grey;
     height: 30px;
}



